assignment10/exercise3/bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bank" type="bankType"/>
  <xs:complexType name="checking_accountsType">
    <xs:sequence>
      <xs:element type="checking_accountType" name="checking_account" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer_accountsType">
    <xs:sequence>
      <xs:element type="customer_accountType" name="customer_account" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element name="name">
      </xs:element>
      <xs:element name="address">
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="checking_accountType">
    <xs:sequence>
      <xs:element name="balance">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minInclusive value="-5000"></xs:minInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="bankType">
    <xs:sequence>
      <xs:element type="accountsType" name="accounts"/>
      <xs:element type="customersType" name="customers"/>
      <xs:element type="customer_accountsType" name="customer_accounts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountsType">
    <xs:sequence>
      <xs:element type="savings_accountsType" name="savings_accounts"/>
      <xs:element type="checking_accountsType" name="checking_accounts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="savings_accountType">
    <xs:sequence>
      <xs:element name="balance">
        <xs:simpleType>
          <xs:restriction base="xs:string">
              <xs:minInclusive value="-5000"></xs:minInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interest" use="optional"/>
  </xs:complexType>
  <xs:complexType name="savings_accountsType">
    <xs:sequence>
      <xs:element type="savings_accountType" name="savings_account" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer_accountType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="customer_id" use="optional"/>
        <xs:attribute type="xs:string" name="account_id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>